<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>블로그 글 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="p-5 mb-5 text-center</> bg-light">
        <h1 class="mb-3">My Blog</h1>
        <h4 class="mb-3">블로그에 오신 것을 환영합니다.</h4>
    </div>

    <div class="container">
        <button type="button" id="create-btn"
                th:onclick="|location.href='@{/new-article}'|"
                class="btn btn-secondary btn-sm mb-3">글 등록</button>
        <div class="row-6" th:each="item : ${articles}">
            <div class="card">
                <div class="card-header" th:text="${item.id}">
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${item.title}"></h5>
                    <p class="card-text" th:text="${item.content}"></p>
                    <a th:href="@{/articles/{id}(id=${item.id})}" class="btn btn-primary">보러가기</a>
                </div>
            </div>
            <br>
        </div>

        <button type="button" class="btn btn-secondary" onclick="location.href='/logout'">로그아웃</button>
    </div>

    <script src="/js/article.js"></script>
</body>
